<div class="col-sm-4 price-block">
  <h3><%= @event.date.strftime("%b #{@event.date.day.ordinalize}") %></h3>
  <div class="price pastel-green">
    <div class="price-figure">
      <h4><%= @event.date.strftime("%a") %></h4>
    </div>
  </div>
  <ul class="features">
    <li>
      $<%= price %> - <%= registration.capitalize %> Registration Price
    </li>
    <li>
      <%= render "form",
        amount: price * 100,
        event_id1: @event.id,
        event_id2: nil,
        name: @event.name
      %>
    </li>
    <li>
      <p class="small">
        Note: The email you enter will be used for communication if an event is canceled or rescheduled. Club Loose North respects your privacy and will not distribute your email or use it for marketing.
      </p>
    </li>
    <li>
      <p>
        <% if registration == 'early' %>
          Early Registration ends on <%= time.strftime("%a, %b #{time.day.ordinalize} at %l:%M %P") %>
          Same week registration costs $<%= @event.price + 15 %> and ends at 4 AM the day before the event.
        <% elsif registration == 'same week' %>
          Same week registration ends on <%= time.strftime("%a, %b #{time.day.ordinalize} at %l:%M %P") %>
        <% end %>
      </p>
    </li>
  </ul>
</div>
