<form action="/payments" method="POST" class="form-inline">
  <label> Register For The Event Here! </label>
  <input type="hidden" name="amount" value="<%= amount %>"><br>
  <input type="hidden" name="event_id1" value="<%= event_id1 %>">
  <input type="hidden" name="event_id2" value="<%= event_id2 %>">
  <label> Enter Car </label>
  <input type="text" name="car"><br>
  <label> Enter Name </label>
  <input type="text" name="name"><br>
  <label> City, State </label>
  <input type="text" name="note">
 <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-image="https://s3.amazonaws.com/clubloosenorth/cln/images/cln-header1.png"
    data-name="Club Loose North"
    data-description="One Driver's pass for <%= name %> <br> Email will be used for communication purposes."
    data-amount="<%= amount %>"
    data-locale="auto"
    data-billing-address="false"
    data-label="Register & Prepay">
  </script>
</form>
