<div class="forms">
  <button class="btn btn-primary" onclick="javascript:displayPayPalForm(this)">Pay With Paypal</button>
  <button class="btn btn-primary" onclick="javascript:displayStripeForm(this)">Pay With Card</button>
  <form style="display: none;" action="/payments" method="POST" class="form-inline">
    <input type="hidden" name="amount" value="<%= amount %>"><br>
    <input type="hidden" name="event_id1" value="<%= event_id1 %>">
    <input type="hidden" name="event_id2" value="<%= event_id2 %>">
    <label> Enter Car </label>
    <input required type="text" name="car"><br>
    <label> Enter Name </label>
    <input required type="text" name="name"><br>
    <label> City, State </label>
    <input required type="text" name="note">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
      data-image="https://s3.amazonaws.com/clubloosenorth/cln/images/cln-header1.png"
      data-name="Club Loose North"
      data-description="One Driver's pass for <%= name %>"
      data-amount="<%= amount %>"
      data-locale="auto"
      data-billing-address="false"
      data-label="Pay with Card">
    </script>
  </form>
  <form style="display: none;" action="/paypals" method="POST" method="post" class="form-inline">
    <input type="hidden" name="amount" value="<%= amount %>"><br>
    <input type="hidden" name="event_id1" value="<%= event_id1 %>">
    <input type="hidden" name="event_id2" value="<%= event_id2 %>">
    <label> Enter Car </label>
    <input required type="text" name="car"><br>
    <label> Enter Name </label>
    <input required type="text" name="name"><br>
    <label> City, State </label>
    <input required type="text" name="note"><br>
    <label> Email </label>
    <input type="text" name="email">
    <button class="btn btn-info" type="submit" value="Pay with Paypal">Pay With PayPal</button>
  </form>
</div>
