 <section id="content-3-323" class="content-block-nopad content-3-3" style="background: url('http://www.drakemccabe.com/cln/images/blue.jpg') center no-repeat; height: 600px;">
            <div class="overlay overlay-blue">
                <div class="container text-center">
                    <h2>New Hampshire Motor Speedway</h2>
                    <h1>Upcoming Events</h1>

                  <!-- <   <li><div style="border: 1px solid #d3d3d3; width: 40%; border-radius: 25px; display: table; margin: 0 auto;"> <a href="/spectators" style="color: #d3d3d3;"><h3>  SPECTATOR FAQ  </h3></a> </div></li> -->


                  <div style="height: 100px;">
                  <ul class="buttonnav">

                    <% if @params["n"] == "spectators" %>

                     <li><div style="border: 1px solid #d3d3d3; width: 40%; border-radius: 25px; display: table; margin: 0 auto;"> <a href="/spectators" style="color: #d3d3d3;"><h3>  SPECTATOR FAQ  </h3></a> </div></li>


                    <% else %>

                                        <li><div style="border: 1px solid #d3d3d3; min-width: 40%; border-radius: 25px; display: table; float: left;"> <a href="/faqs" style="color: #d3d3d3;"><h3>  DRIVER FAQ  </h3></a> </div></li>


                                        <li><div style="border: 1px solid #d3d3d3; min-width: 40%; border-radius: 25px; display: table;  float: right;"> <a href="http://www.clubloose.com/clubloose/index.php/the-rules" target="_blank" style="color: #d3d3d3;"><h3>  RULEBOOK  </h3></a> </div></li>

                  <% end %>
                    </ul></div>

                  <div></div>

<div class="caldiv">
                    <ul class="calendar">

                      <li><div class="calbox"><div class="top">APR</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-04-01"].present? %>
                        <% @calendar["#{Date.today.year}-04-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>



                      <li><div class="calbox"><div class="top">MAY</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-05-01"].present? %>
                        <% @calendar["#{Date.today.year}-05-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                      <li><div class="calbox"><div class="top">JUN</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-06-01"].present? %>
                        <% @calendar["#{Date.today.year}-06-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                      <li><div class="calbox"><div class="top">JUL</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-07-01"].present? %>
                        <% @calendar["#{Date.today.year}-07-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                      <li><div class="calbox"><div class="top">AUG</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-08-01"].present? %>
                        <% @calendar["#{Date.today.year}-08-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                      <li><div class="calbox"><div class="top">SEP</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-09-01"].present? %>
                        <% @calendar["#{Date.today.year}-09-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                      <li><div class="calbox"><div class="top">OCT</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-10-01"].present? %>
                        <% @calendar["#{Date.today.year}-10-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>



                      <li><div class="calbox"><div class="top">NOV</div><div class="bottom">

                       <% if @calendar["#{Date.today.year}-11-01"].present? %>
                        <% @calendar["#{Date.today.year}-11-01"].each do |item| %>
                        <a href="/events/<%= item.id %>"><%= item.date.strftime("%b #{item.date.day.ordinalize}") %></a>
                              <br>
                        <% end %>
                        <% else %>
                        <a href="/">NO</a><br><a href="/">EVENTS</a>
                          <% end %>
                        </div></div>
                      </li>


                    </ul>


                    <script type="text/javascript">




                       window.onload = function() {
                         var width1 = $(window).width();

                         if (width1 < 500 ) {
                           $("#content-3-323").height(850);
                         } else {
                           $("#content-3-323").height(100);
                         }
                       }

                       window.onresize = function() {
                         var width = $(window).width();

                         if (width < 500 ) {
                           $("#content-3-323").height(850);
                         } else {
                           $("#content-3-323").height(100);
                         }
                       }



                    </script>
</div>

                    <style>
                      .calendar li {
                        display: inline-block;
                        list-style-type: none;

                        padding: 10px;

                      }

                      .buttonnav li {
                        display: inline;
                        list-style-type: none;
                        padding: 10px;
                      }

                      .middle_icon {
                        height: 50px;
                        width: 50px;
                      }

                      .calendar li:nth-child(-n+4) {
                        float: left;
                      }

                       .calendar li:nth-child(-n+8):nth-child(n+5) {
                        float: right;
                      }

                      .calbox {
                        border: 1px solid #d3d3d3;
                        margin: 10px;
                        width: 80px;

                      }
                      .top {
                        top: 0px;
                        background-color: #d3d3d3;
                        text-transform: uppercase;
                      }

                    .bottom {

                     bottom: 0px;
                    }
                    </style>
                    <% if false %>
                    <li> Frequently Asked Questions </li>
                    <li> Rulebook </li>
                      <% end %>
                  </ul>
                </div>
                <!-- /.container -->
            </div>
        </section>

        <section class="content-block team-1 team-1-1 bg-deepocean" style="color: white;">
            <div class="container">
                <div class="row">
                  <% if @events.any? %>
                   <% @events.each_with_index do |event, index| %>
                  <% if event.date > Date.today + 1 %>
                    <div class="col-sm-4 team-member-wrap">
                        <div class="team-member">
                            <div class="team-details">
                              <a href="/events/<%= event.id %>">
                                <% if event.date > Date.today %>
                                  <h4 class="member-name"><%= event.date.strftime("%a, %m/%d") %></h4>
                                <% else %>
                                <h4>ENDED</h4>
                                <% end %>

                                                                                                                                            <h3> <a href="/events/<%= event.id %>"><%= event.name %></a> </h3>
                                <p style="color: white;"><br> 9 AM - 5 PM <br> New Hampshire Motor Speedway <br> $10 to Spectate</p>
                                <ul class="social social-dark" >
                                    <div class="row">

                                          <li style="display: inline-block;"><a href="<%= event.facebook_url %>"><i class="fa fa-2x fa-facebook"></i>View on Facebook</a> </li>

                                      <li style="display: inline-block;"><a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%= event.name.gsub(/ /, '+') %>&dates=<%= event.date.strftime("%Y%m%d") %>T140000Z/<%= event.date.strftime("%Y%m%d") %>T220000Z&details=$<%= event.price %>+to+drive,+$10+to+watch+.+More+info:+http:www.clubloosenorth.com/events/<%= event.id %>&location=New+Hampshire+Motor+Speedway,+1122+NH-106,+Loudon,+NH+03307&sf=true&output=xml"><i class="fa fa-calendar-plus-o"></i>Add to Google Calendar</a></li>
                                      <br>
                                                                                             <a class="btn-sm btn btn-default center" style="width 60%; display: table; margin: 0 auto; color: red;" href="/events/<%= event.id %>">Register to Drive</a>



                                    </div>
                                </ul>
                                <!-- /.social -->
                            </div>
                        </div>
                    </div>
                  <% end%>
                  <% end %>
                  <% else %>

                  <div>
                    <h1> No Events! </h1>
                    <h2> Check Back Soon As We Get Closer To The Season </h2>
                  </div>
                  <% end %>
                    <!-- /.team-member-wrap -->
                    <!-- /.team-member-wrap -->
                    <!-- /.team-member-wrap -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/bskit-scripts.js"></script>
    </body>
</html>
