<section id="content-3-1" class="content-block-nopad content-3-1" style="background: url('<%= @event.photo_url %>') center no-repeat;">
  <div class="overlay overlay-aqua">
    <div class="container text-center">
      <h2>Join us on <%= @event.date.strftime("%a, %b #{@event.date.day.ordinalize}") %> for</h2>
      <h1><%= @event.name %></h1>
    </div>
  </div>
</section>

<% if user_signed_in? %>
  <section class="content-block" style="margin-left: 50%; margin-right: 50%; width: 100%;">
    <div style="width: 500px; background-color: #d3d3d3;">
      <div class="container">
        <h2> Admin Box </h2>
        <ul>
          <li> <%= link_to "View Drivers", event_drivers_path(@event) %>,</li>
          <li><%= link_to "Edit Event", edit_event_path(@event) %>,</li>
          <li><%= button_to "Delete Event", { action: "destroy", id: @event.id },
            method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
        <%= form_tag "/events/#{@event.id}", method: "patch", action: "update" do %>
          <%= label_tag "Send message to drivers:" %>
          <br>
          <%= text_area_tag :message, "warning: this field will send an email out to all drivers." %>
          <%= submit_tag "Send", data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section class="content-block pricing-table-1 pricing-table-1-2 bg-deepocean">
  <div class="container">
    <div class="underlined-title">
      <h1 style="color: white;">Register To Drive Now</h1>
      <hr>
      <% unless @two_pack.nil? %>  <h2>Prereg for both and save!</h2> <% end %>
                </div>
                <div class="row">

<% if @two_pack.nil? %>
  <% e = @event.date %>
<% else %>
  <% e = [@two_pack.dates.first, @two_pack.dates.last].min %>
<% end %>
<% early = DateTime.new(e.year,e.month,e.day,0,0,1,'-4') - 7.day %>
    end
<% same_week = DateTime.new(e.year,e.month,e.day,0,0,1,'-4') - 1.day %>

<% if Time.now <= early && @event.drivers.length < @limit %>
  <%= render "event", registration: 'early', event: @event, price: @event.price, time: early %>
  <% unless @two_pack.nil? %>
    <%= render "twopack", first_price: @two_pack.second_price(@event.id), registration: 'early', two_pack: @two_pack, price: @two_pack.price, time: early %>
  <% end %>
<% elsif Time.now >= early && Time.now <= same_week && @event.drivers.length < @limit %>
  <%= render "event", registration: 'same week', event: @event, price: @event.price + 25, time: same_week %>
  <% unless @two_pack.nil? %>
    <%= render "twopack", first_price: @two_pack.second_price(@event.id) + 25, registration: 'same week', two_pack: @two_pack, price: @two_pack.prices.sum + 40, time: same_week %>
  <% end %>
<% else %>
  <h1 style="color: white;"> Event Registration Closed </h1>
<% end %>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section>
          <div class="col-sm-12">
            <p style="color: white; text-align: center;">* A note on security: Credit cards processed offsite by Stripe and Paypal. This page is secured by a Heroku SSL certificate. </p>
          </div>
        </section>
