<%= @event.name %>
<%= @event.price %>
<%= @event.location %>

<%= render "form", amount: "1500", event_id1: @event.id, event_id2: nil, name: @event.name %>

<% unless @two_pack.nil? %>
  <h3> There's also an event on <%= @two_pack.dates.first.strftime("%a, %b #{@two_pack.dates.first.day.ordinalize}") %> </h3>
  <h3> Drive both and save! </h3>
  <%= render "form", amount: "1500", event_id1: @two_pack.ids.first, event_id2: @two_pack.ids.last, name: @two_pack.name %>
<% end %>
