<section class="content-block">
<h2> <%= event.name %> </h2>
<p> Date: <%= event.date %> </p>
<p> Location: <%= event.location %> </p>

<%= link_to "Download CSV", event_path(event, :format => :csv) %>

<table class="table">
<th>
  <td> # </td>
  <td> Name </td>
  <td> Car </td>
  <td> Email </td>
  <td> Note </td>
</th>

<% drivers.each_with_index do |driver, index| %>
  <tr>
    <td> <%= index + 1 %> </td>
    <td> <%= driver.name %> </td>
    <td> <%= driver.car %> </td>
    <td> <%= driver.email %> </td>
    <td> <%= driver.note %> </td>
  </tr>
<% end %>
</table>
</section>
