<!DOCTYPE html>
<html>
<head>
  <title>AutoClubRails</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target="nav">




  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Club Loose North</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Drive</a></li>
        <li><a href="#">Watch</a></li>
        <li><a href="#">Rules</a></li>
         <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
</nav>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>
  
  
  <section class="content-block-nopad bg-deepocean footer-wrap-1-3">
            <div class="container footer-1-3">
                <div class="col-md-4 pull-left">
                    <img src="http://www.clubloose-north.com/cln-header1.png" class="brand-img img-responsive">
                    <ul class="social social-light">
                        <li>
                            <a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                    </ul>
                    <!-- /.social -->
                </div>
                <div class="col-md-3 pull-right">
                    <p class="address-bold-line"><i class="fa fa-heart pomegranate"></i> Club Loose North</p>
                    <p class="address small">1122 NH-106,<br>
					Loudon, NH 03307</p>


                </div>
                <div class="col-xs-12 footer-text">
                    <p>Please take a few minutes to read our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
            <!-- /.container -->
        </section>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
