<!DOCTYPE html>
<html>
<head>
  <title>Club Loose North | New England Drifting</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55174784-8', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body data-spy="scroll" data-target="nav">


<header id="header-1" class="header-1" data-pg-collapsed>
    <!-- Navbar -->
    <nav class="main-nav navbar-fixed-top headroom headroom--pinned">
        <div class="container">
            <!-- Brand and toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img src="http://s3.amazonaws.com/clubloosenorth/cln/images/cln-header1.png" class="brand-img img-responsive">
                </a>
            </div>
            <!-- Navigation -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="<%= "active" if current_page?("/") %> nav-item">
                        <a href="/">Home</a>
                    </li>
                  <li class="<%= "active" if current_page?("/events") %> nav-item">
                        <a href="/events">Drive</a>
                    </li>
                  <li class="<%= "active" if current_page?("/events?n=spectators") %> nav-item">
                        <a href="/events?n=spectators">Watch</a>
                    </li>
                  <li class="<%= "active" if current_page?("/faqs/1") %> nav-item">
                        <a href="/faqs/1" target="_blank">Rules</a>
                    </li>
                  <li class="<%= "active" if current_page?("/shop") %> nav-item">
                        <a href="http://www.clubloosenorth.bigcartel.com/category/shop" target="_blank">Shop</a>
                    </li>
                    <li class="<%= "active" if current_page?("/pages/1") %> nav-item">
                        <a href="/pages/1">Sponsors</a>
                    </li>
                  <li class="<%= "active" if current_page?("/pages") %> nav-item">
                        <a href="/pages">Contact</a>
                    </li>

                    <%- if current_user -%>

                  <li class="<%= "active" if current_page?("/events/new") %> nav-item"><%= link_to 'New Event', new_event_path %></li>
                    <li class="nav-item"><a href="/alerts/new">New Alert</a></li>
          <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

        <%- end -%>
                </ul>
                <!--//nav-->
            </div>
            <!--// End Navigation -->
        </div>
        <!--// End Container -->
    </nav>
    <!--// End Navbar -->
</header>


  <% @alerts.each do |alert| %>
    <% if alert.exp_date > Date.today %>
    <div class="alert alert-danger" role="alert" style="margin: 0px;">
      <h3 style="text-align: center"><strong>Attention: <%= alert.body %></strong></h3>
      <p class="text-center"><strong><em>- Club Loose North Staff</em></strong></p>
    </div>
    <% end %>
  <% end %>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>


  <section class="content-block-nopad bg-deepocean footer-wrap-1-3">
            <div class="container footer-1-3">
                <div class="col-md-3 pull-left">
                  <h3 style="color: white;">About</h3>
                   <p class="text-muted">ClubLoose is heading North! “No one does it like Club Loose” From keeping drifting alive in Jersey to owning the track with their signature style, everyone comes to Club Loose events for one thing. To have a blast and not give a f*ck.  Come one come all for the best New Hampshire Drifting around! If you’re on facebook don’t forget to join our official CLN page here. It is a pleasure to be part of the Clubloose family and I hope to see you all at the track. Live Free or Die!</p>
                    <!-- /.social -->
                </div>
                <div class="col-md-3 pull-right">
                  
                    <ul class="social social-light">
                        <li>
                            <a href="https://www.facebook.com/groups/clubloosenorth/"><i class="fa fa-2x fa-facebook"></i> JOIN THE FACEBOOK GROUP!</a>
                        </li>
                    </ul>
                    <p class="address-bold-line"><i class="fa fa-heart pomegranate"></i> Club Loose North</p>
                   <p class="address small">New Hampshire Motor Speedway</p>
                    <p class="address small">1122 NH-106, Loudon, NH 03307</p><br>

                    </a><a href="http://www.clubloose.com">
                        <img src="http://s3.amazonaws.com/clubloosenorth/cln/images/clubloose.png" width="200px" height="90px">
                    </a><a href="http://www.dangdrifters.com">
                        <img src="http://s3.amazonaws.com/clubloosenorth/cln/images/dangdrifters.png" width="200px" height="90px">
                    </a></p>
					Loudon, NH 03307</p>


                </div>
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/reJnyaD1bLA"></iframe>
                </div>
              </div>
                <div class="col-xs-12 footer-text">
                  <style>
                    .inline li {
                      display: inline;
                    }
                    .inline {
                      padding-top: 10px;
                    }
                  </style>
                    <ul class="inline">
                      <li><a href="/events"> Events |</a></li>
                      <li><a href="/events"> Drive |</a></li>
                      <li><a href="/events?n=spectators"> Watch |</a></li>
                      <li><a href="/faqs"> Driver FAQ |</a></li>
                      <li><a href="/spectators"> Spectator FAQ |</a></li>
                      <li><a href="http://www.clubloose.com/clubloose/index.php/the-rules"> Rulebook |</a></li>
                      <li><a href="/pages"> Contact |</a></li>
                      <li><a href="http://www.clubloose.com/"> ClubLoose NJ |</a></li>
                      <li><a href="http://www.clubloosenorth.bigcartel.com/category/shop"> Store |</a></li>
                      <li><a href="/users/sign_in"> Admin Login</a></li>
                  </ul>
                  <p>
                    Site by <a href="http://www.drakemccabe.com">Drake McCabe</a>, Photography by <a href="https://www.facebook.com/seangossphotography/?fref=ts">Sean Goss</a>
                  </p>
                </div>
            </div>
            <!-- /.container -->
        </section>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
